<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Use url_for -->
    <title>Movie Recommendations</title>
</head>
<body>
    <div class="container">
        <h1>Ask for Movie Recommendations</h1>
        <form method="POST">
            <input type="text" name="req_question" placeholder="Enter keywords..." value="{{ question }}" required>
            <button type="submit">Get Recommendations</button>
        </form>
        <hr>

        <div class="main-content">
        {% if chatbot_response %}
            <h2>Recommendation Films:</h2>
            <div class="chatbot-response">
                {{ chatbot_response | safe }}
            </div>
        {% elif movies %}
            <h2>Recommended Movies:</h2>
            {% for movie in movies %}
            <div class="movie">
                <div class="details">
                    <h2>{{ movie.title }}</h2>
                    <p>{{ movie.overview }}</p>
                    <p class="vote-average">Rating: {{ movie.vote_average }}</p>
                    <p class="release-date">Release Date: {{ movie.release_date }}</p>
                </div>
                {% if movie.poster_url %}
                <div class="poster">
                    <img src="{{ movie.poster_url }}" alt="Poster of {{ movie.title }}">
                </div>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
</body>
</html>